---
import Layout from "~/layouts/Layout.astro";
import HeaderContent from "~/components/header-content";
import FooterContent from "~/components/footer-content";
import { ContactForm } from "~/components/contact-form";
---

<Layout>
  <HeaderContent client:load />

  <main
    class="w-full min-h-screen flex flex-col items-center justify-start bg-[#131313] text-white pt-[20vh] pb-[10vh]"
  >
    <h1 class="text-5xl font-futura_pt mb-12">Contact</h1>

    <ContactForm client:load />
  </main>

  <FooterContent />
</Layout>

<style>
  :global(html),
  :global(body) {
    overflow: auto !important;
  }
</style>
