---
import Layout from "~/layouts/Layout.astro";
import Shader from "~/components/shader.tsx";
import App from "~/components/App.tsx";
---

<Layout>
  <div class="fixed inset-0 -z-10 w-full">
    <Shader client:load />
  </div>

  <App client:load />
</Layout>
