---
import Layout from "~/layouts/Layout.astro";
import Shader from "~/components/shader.tsx";

import Header from "~/components/header-top.tsx";
import Footer from "~/components/footer-top.tsx";

import Logo from "~/assets/kz_creation.svg";
---

<Layout>
  <div class="fixed inset-0 -z-10 w-full">
    <Shader client:load />
  </div>

  <div class="flex flex-col items-center justify-between w-full h-screen">
    <Header client:load />

    <img src={Logo.src} alt="KZ Creation Logo" />

    <Footer />
  </div>
</Layout>
