---
import Layout from '../layouts/Layout.astro';
import mainPageImage from '../assets/images/u3629887153_a_stylish_fantasy_world_at_midnight_geometric_abs_49e0ca04-3bd7-4372-a11f-d2bb178a87cb_0.png';
import MyIcon from '../assets/images/icon2.jpg';

import '../styles/global.css';

import Header from '../components/Header.tsx';
import MainPageAnimation from '../components/Animations/MainPageAnimation.tsx';
import ScrollFieldAnimation from '../components/Animations/ScrollFieldAnimation.tsx';
import CircleTextAnimation from '../components/Animations/CircleTextAnimation.tsx';
import GithubContrib3D from '../components/Animations/GithubContrib3D.tsx';
---

<Layout>
  <!-- 固定要素: 背景画像とヘッダー -->
  <Fragment slot="fixed-elements">
    <img
      src={mainPageImage.src}
      width={mainPageImage.width}
      height={mainPageImage.height}
      alt="main page image"
      loading="lazy"
      class="w-full h-screen fixed -z-10 object-cover object-center"
    />
    <Header client:load />
  </Fragment>
  
  <ScrollFieldAnimation client:load />
  
  <div class="flex flex-col w-full h-screen justify-center px-24">
    <div class="flex text-white text-4xl">
      <MainPageAnimation
        client:load
        words={[
          "AI",
          "Entertainment",
          "Unconvertional",
        ]}
        hold={1.6}
        fade={0.45}
      />
    </div>
  </div>

  <div class="relative flex flex-col w-full h-screen bg-white overflow-hidden">
    <div class="flex flex-col font-fugaz text-4xl w-full h-screen items-center justify-center">
      <p>Hello. I'm Kizuki!</p>
      <GithubContrib3D client:load />
    </div>
  </div>
</Layout>
