---
import { Analytics } from "@vercel/analytics/react";
import "../styles/global.css";
import { Toaster } from "~/components/ui/sonner";
import SmoothScroll from "~/components/gsap/smoothScroll";

import Footer from "~/components/layouts/footer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <Analytics />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap"
    />
    <script is:inline>
      (function (d) {
        var config = {
            kitId: "vza3sdw",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className =
              h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config);
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
    <script is:inline>
      const hasVisited = sessionStorage.getItem("hasVisited") === "true";
      if (!hasVisited) {
        document.documentElement.setAttribute("data-first-visit", "true");
      }
    </script>
    <title>Kz Creation</title>
  </head>
  <body class="m-0 p-0 overflow-auto w-full relative z-0">
    <div
      class="fixed inset-0 w-full h-screen bg-[#131313] pointer-events-none -z-10"
      style={{
        backgroundImage: `linear-gradient(to right, rgba(128, 128, 128, 0.1) 1px, transparent 1px),
                          linear-gradient(to bottom, rgba(128, 128, 128, 0.1) 1px, transparent 1px)`,
        backgroundSize: "6rem 6rem",
      }}
    >
    </div>
    <SmoothScroll client:load />
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <slot />
      </div>
    </div>

    <div class="fixed left-0 bottom-0 w-full">
      <Footer />
    </div>
  </body>
</html>
