---
import SmoothScroll from '../components/SmoothScroll.tsx';
import Loading from '../components/Loaing.tsx';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kz Creation</title>
	</head>
	<body>
		<Loading client:load />
		<!-- 固定要素用のスロット（smooth-wrapperの外側） -->
		<slot name="fixed-elements" />
		
		<div id="smooth-wrapper">
			<div id="smooth-content">
				<slot />
			</div>
		</div>
		<SmoothScroll client:load />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}

	#smooth-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	#smooth-content {
		will-change: transform;
	}
</style>
